# Slot: requirements


_Contents of a 'requirements.txt'-like file. Will be installed by the selected Installer using an appropriate method, e.g., `pip install -r requirements.txt` for pip, or `conda env create -f requirements.txt` for conda._



URI: [https://marda-alliance.github.io/metadata_extractors_schema/main/gen-doc/extractor/:requirements](https://marda-alliance.github.io/metadata_extractors_schema/main/gen-doc/extractor/:requirements)



<!-- no inheritance hierarchy -->




## Applicable Classes

| Name | Description | Modifies Slot |
| --- | --- | --- |
[Installation](Installation.md) | None |  no  |







## Properties

* Range: [String](String.md)





## Identifier and Mapping Information







### Schema Source


* from schema: https://marda-alliance.github.io/metadata_extractors_schema/main/gen-doc/extractor




## LinkML Source

<details>
```yaml
name: requirements
description: Contents of a 'requirements.txt'-like file. Will be installed by the
  selected Installer using an appropriate method, e.g., `pip install -r requirements.txt`
  for pip, or `conda env create -f requirements.txt` for conda.
from_schema: https://marda-alliance.github.io/metadata_extractors_schema/main/gen-doc/extractor
rank: 1000
alias: requirements
owner: Installation
domain_of:
- Installation
range: string

```
</details>